{% block tilta_test_api_credentials_button %}
    <div class="tilta-test-api-credentials-button">
        {% block tilta_test_api_credentials_button_process_button %}
            <sw-button-process
                class="tilta-test-api-credentials-button__process-button"
                :isLoading="isLoading"
                :processSuccess="isTestSuccessful"
                :disabled="isLoading"
                @click.prevent="testCredentials"
                @process-finish="onTestFinish"
                block>
                {{ $tc('tilta.config.testCredentialsButton.text') }}
            </sw-button-process>
        {% endblock %}
    </div>
{% endblock %}
